server:
  port: 8855
spring:
  application:
    name: config_server
  cloud:
    config:
      label: master
      server:
        git:
          uri: https://github.com/wangyan-java/spring-cloud/tree/master/springcloud_config
#          search-paths: respo
          username:
          password:
#spring.cloud.config.server.git.uri\uFF1A\u914D\u7F6Egit\u4ED3\u5E93\u5730\u5740
#spring.cloud.config.server.git.searchPaths\uFF1A\u914D\u7F6E\u4ED3\u5E93\u8DEF\u5F84
#spring.cloud.config.label\uFF1A\u914D\u7F6E\u4ED3\u5E93\u7684\u5206\u652F
#spring.cloud.config.server.git.username\uFF1A\u8BBF\u95EEgit\u4ED3\u5E93\u7684\u7528\u6237\u540D
#spring.cloud.config.server.git.password\uFF1A\u8BBF\u95EEgit\u4ED3\u5E93\u7684\u7528\u6237\u5BC6\u7801
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8888/eureka/